<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Kaidee || ช่วยเหลือ หัวข้อย่อย</title>
	    <link rel="shortcut icon" href="./img/web_favicon.png">
        <!--jQuery-->
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	    <!-- Latest compiled and minified CSS -->
	    <link rel="stylesheet" href="./css/bootstrap.min.css" rel="stylesheet">

        <!-- Optional theme -->
        <link rel="stylesheet" href="./css/bootstrap-theme.min.css" rel="stylesheet">

        <!-- Latest compiled and minified JavaScript -->
        <script src="./js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="./css/style.css">
        <style>

             * {
                margin: 0;
            }
            html, body {
                height: 100%;
            }

             .wrapper {
                min-height: 100%;
                height: auto !important;
                height: 100%;
                margin: 0 auto -55px; /* the bottom margin is the negative value of the footer's height */
            }

            .myImg{
                max-height: 500px;
                max-width: 500px;
            }

            .space{
              height: 20px;
            }

        </style>

    </head>
    <body>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <div class="wrapper">

        <nav class="navbar navbar-default navbar-fixed-top">

		<div class="container">
			<button id="btnsell-toggle" type="button" class="navbar-toggle btn btn-warning btnsell-toggle">ขาย</button>
			<a href="./"><img class="navbar-brand" src="img/Kaidee-logo-300.png" alt="Kaidee icon"></a>
			<!-- <a class="navbar-brand" href="#">Kaidee</a> -->
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
                    li><a id="loginout" href="./loginpage">ลงชื่อเข้าใช้</a></li>
					<li><a href="/verification">แก้ไขข้อมูลผู้ขาย</a></li>
					<li><button id="btnsell" type="button" class="btn btn-warning">ขาย</button></li>
				</ul>
			</div>
		</div>
	    </nav>
        <div class="container">
            <div id="textAndPic" class="row">
                <div class="col-md-12">
                    <h1 id='title'></h1>
                </div>
            </div>
        </div>
        <div style="text-align: center;" id="vote">
            <label>คุณคิดว่าข้อมูลนี้มีประโยชน์หรือไม่</label><br>
            <button id="yes">มีประโยชน์</button>
            <button id="no">ไม่มีประโยชน์</button>
        </div>
        </div>
        <hr>
        <footer id="footer" class="wrapper">
        <div class="container"><footer role="link" class="copy-and-info"><div class="footer-infomation"><p class="copyright clear"><span class="company"></span></p><p class="copyright clear">
        <span class="helps"><a href="./help" to="/helps/" data-name="helps" accesskey="9">ช่วยเหลือ</a></span>
        </div></footer>

        <script>
            var result = []
            var faqid = []
            var userID = ''
            $(document).ready(function() {
                var num = localStorage.getItem('click');
                var cate = 'Category' + num
                var temp = localStorage.getItem('topic');
                var topic = temp.substr(1,(temp.length)-2);
                var result = JSON.parse(localStorage.getItem(cate));
                console.log(result);
                console.log(jQuery.type(result));
                document.getElementById('title').textContent = topic;


                  for(var i=0; i < result.length;i++){
                      faqid.push(result[i].FAQID)
                     console.log(result[i]);
                    $('#textAndPic').append('<div class="col-md-12"><h4>'+result[i].Detail+'</h4></div>');
                      for(var j=0; j < result[i].FAQImage.length;j++){
                          $('#textAndPic').append('<div class="col-md-12"><img class="myImg" src="'+result[i].FAQImage[j]+'"></div><div class="space"> </div>');
                          //<div class="space"> </div>
                      }

                    //$('#textAndPic').append('<div class="col-md-12"><p>'+result[i].Detail+'</p></div>');
                }

                $.getJSON('./session_data', function(data) {


                    if(data == 404){
                        userID = null;
                         $('#loginout').attr('href','./loginpage');
                        $('#loginout').text('ลงชื่อเข้าใช้');
                    }else{
                        userID = data.UserID
                         $('#loginout').attr('href','./logout');
                        $('#loginout').text('ลงชื่อออก');
                    }

                });



            });
            var t = new Date()

            $('#yes').click(function(){
                if(userID == null){
                    alert('Please Log-In');
                }else{

                    datatosenty = '{"timestamp":' + String(t.getTime()).substr(0,10) + ', "vote_status":' + 1 + ', "userID":' + userID + ', "FAQID":[' + faqid + ']}'
                    console.log(typeof(datatosenty));
                    $.ajax({
                          type: 'POST',
                          url: './faqfeedback',
                          data: datatosenty,
                          dataType:'json',
                          contentType: "application/json",
                          success: function(data){

                              console.log(datatosenty);
                              $('#yes').remove();
                              $('#no').remove();
                              $('#vote').append('<label>คุณได้ทำการโหวดเรียบร้อยแล้ว</label>');
                          }
                    });
                }

            });

            $('#no').click(function(){

                if(userID == null){
                     alert('Please Log-In');
                }else{
                    datatosentn = '{"timestamp":' + String(t.getTime()).substr(0,10) + ', "vote_status":' + 0 + ', "userID":' + userID + ', "FAQID":[' + faqid + ']}'
                    console.log(typeof(datatosentn));
                    $.ajax({
                          type: 'POST',
                          url: './faqfeedback',
                          data: datatosentn,
                          dataType:'json',
                          contentType: "application/json",
                          success: function(data){
                              console.log(datatosentn);
                              $('#yes').remove();
                              $('#no').remove();
                              $('#vote').append('<label>คุณได้ทำการโหวดเรียบร้อยแล้ว</label>');
                            },
                           error : function(data){
                               alert("Please try again and check you internet connection");
                           }
                    });

                }
            });

            $('#btnsell').click(function(){
		                window.location.href = "./upload_sale_1";

		        });


        </script>


        		<!-- CHAT UI -->
        		<div class="container" style="z-index: 100;">
        				<div class="row chat-window col-xs-10 col-md-3" id="chat_window_1">
        						<div class="col-xs-12 col-md-12">
        							<div class="panel panel-default">
        										<div class="panel-heading top-bar">
        												<div class="col-md-2 col-xs-2">
        														<img class="chat-icon" src="img/Chat_topic.png"></img>
        												</div>
        												 <div class="col-md-4 col-xs-4">
        														<h3 class="panel-title"> Chat</h3>
        												</div>
        												<div class="col-md-2 col-xs-2">
        													<span id="notification" class="badge">0</span>
        												</div>
        												<div class="col-md-4 col-xs-4" style="text-align: right;">
        													<a href="#"><span id="to_contact" class="glyphicon glyphicon-list icon_chat_tolist"></span></a>
        												</div>
        										</div>
        										<div id="contactpage">
        											<div class="panel-body contact_list_base">
        												<div id="itemList">
        												</div>
        										</div>
        									</div>
        										<div id="chatpage" style="display: none;">
        											<div class="panel-body">
        												<div class="col-md-6 col-xs-6 info_content">
        													<img id="productImg" class="itempic_info" src=""></img>
        													<span id="productName"></span>
        												</div>
        												<div class="col-md-6 col-xs-6 info_content">
        													<img id="targetImg" class="itempic_info" src=""></img>
        													<span id="targetName"></span>
        												</div>
        											</div>
        											<div id ="chat-textbox" class="panel-body msg_container_base">
        											</div>
        											<div class="panel-footer">
        													<div class="input-group">
        															<input id="btn-input" type="text" class="form-control input-sm inputbar" placeholder="Write your message here..." />
        															<span class="input-group-btn">
        															<button class="btn btn-sm chatbtn" id="btn-chat">Send</button>
        															</span>
        													</div>
        											</div>
        									</div>
        						</div>
        						</div>
        				</div>

        <link rel="stylesheet" href="css/chat.css">
        <script src="js/chat.js"></script>

    </body>
</html>
