<!DOCTYPE html>
<html lang="th">
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Kaidee || รถ มือสอง, บ้าน, มือถือ มือสอง ซื้อขายใกล้บ้าน</title>
	<link rel="shortcut icon" href="./img/web_favicon.png">

	<!--jQuery-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="./css/bootstrap.min.css" rel="stylesheet">

	<!-- Optional theme -->
	<link rel="stylesheet" href="./css/bootstrap-theme.min.css" rel="stylesheet">

	<!-- Latest compiled and minified JavaScript -->
	<script src="./js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="./css/chatbox.css" rel="stylesheet">

	<script src="./js/hover4content.js"></script>

	<script src="./js/chatbox.js"></script>

	<link rel="stylesheet" type="text/css" href="./css/style.css">

</head>

<body>
        <div class="wrapper">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<button id="btnsell-toggle" type="button" class="navbar-toggle btn btn-warning btnsell-toggle">ขาย</button>
			<a href="./"><img class="navbar-brand" src="img/Kaidee-logo-300.png" alt="Kaidee icon"></a>
			<!-- <a class="navbar-brand" href="#">Kaidee</a> -->
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/verification">แก้ไขข้อมูลผู้ขาย</a></li>
					<li><button id="btnsell" type="button" class="btn btn-warning">ขาย</button></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container" style="text-align: center; margin: 0 auto;float: none;">
		<img class="img-responsive tutorial" src="img/Step2.png" width="35%" style="text-align: center; margin: 0 auto;float: none;">

		</br>
	</div>

	<div id="productList">
		<div class="container">
			<div class="row" id="productListRow">



			</div>
		</div>
	</div>

	<div class="push"></div>
				 <div class="footerr">
						 <a href="./help"><h3 id='openfaq' style="line-height:50px; height:50px;">FAQ</h3></a>
				 </div>

	<!-- CHAT UI -->
	<div class="container">
			<div class="row chat-window col-xs-10 col-md-3" id="chat_window_1">
					<div class="col-xs-12 col-md-12">
						<div class="panel panel-default">
									<div class="panel-heading top-bar">
											<div class="col-md-2 col-xs-2">
													<img class="chat-icon" src="img/Chat_topic.png"></img>
											</div>
											 <div class="col-md-4 col-xs-4">
													<h3 class="panel-title"> Chat</h3>
											</div>
											<div class="col-md-2 col-xs-2">
												<span id="notification" class="badge">0</span>
											</div>
											<div class="col-md-4 col-xs-4" style="text-align: right;">
												<a href="#"><span id="to_contact" class="glyphicon glyphicon-list icon_chat_tolist"></span></a>
											</div>
									</div>
									<div id="contactpage">
										<div class="panel-body contact_list_base">
											<div id="itemList">
											</div>
									</div>
								</div>
									<div id="chatpage" style="display: none;">
										<div class="panel-body">
											<div class="col-md-6 col-xs-6 info_content">
												<img id="productImg" class="itempic_info" src=""></img>
												<span id="productName"></span>
											</div>
											<div class="col-md-6 col-xs-6 info_content">
												<img id="targetImg" class="itempic_info" src=""></img>
												<span id="targetName"></span>
											</div>
										</div>
										<div id ="chat-textbox" class="panel-body msg_container_base">
										</div>
										<div class="panel-footer">
												<div class="input-group">
														<input id="btn-input" type="text" class="form-control input-sm inputbar" placeholder="Write your message here..." />
														<span class="input-group-btn">
														<button class="btn btn-sm chatbtn" id="btn-chat">Send</button>
														</span>
												</div>
										</div>
								</div>
					</div>
					</div>
			</div>

	<link rel="stylesheet" href="css/chat.css">
	<script src="js/chat.js"></script>


</body>


	<script>

	$(document).ready(function(){

		$.get("./browse_product", function(data, status){
				for (count in data){
					itemObject = data[count];
					console.log(itemObject);
					iId = itemObject.ItemID;
					iImg = itemObject.ItemImage[0];
					iLv = itemObject.LevelID_u;
					iName = itemObject.Name;
					iPost = itemObject.Postcode;
					iPrice = itemObject.Price;

					$("#productListRow").append(`
						<a href="./product?id=`+iId+`">
							<div class="col-sm-3">
								<div class="panel panel-default productPanel">
									<div class="panel-heading text-center">
										<img class="img-responsive productImage" href="./kaidee3.htm" src="`+iImg+`">
									</div>
									<div class="panel-body">
										<div class="productName">`+iName+`</div>
										<div class="productLocation">`+iPost+`</div>
										<div><span><img class="img-responsive ratingImg" src="img/r`+iLv+`.png"><div class="my-popover-content">Verification Lv.`+iLv+`</div></span><span class="ad-price">฿`+iPrice+`</span></div>
									</div>
									<div class="my-popover-content">
										DESCRIPTION
									</div>
								</div>
							</div>
						</a>
						`);
				}
		});

	});
	$('#btnsell').click(function(){
					window.location.href = "./upload_sale_1";

	});


</script>
