<!DOCTYPE html>
<html lang="th">
<head>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Kaidee || รถ มือสอง, บ้าน, มือถือ มือสอง ซื้อขายใกล้บ้าน</title>
  <link rel="shortcut icon" href="./img/web_favicon.png">

  <!--jQuery-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="./css/bootstrap.min.css" rel="stylesheet">

  <!-- Optional theme -->
  <link rel="stylesheet" href="./css/bootstrap-theme.min.css" rel="stylesheet">

  <!-- Latest compiled and minified JavaScript -->
  <script src="./js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="./css/chatbox.css" rel="stylesheet">

  <script src="./js/hover4content.js"></script>

  <script src="./js/chatbox.js"></script>

  <link rel="stylesheet" type="text/css" href="./css/style.css">

  <!--  ?????????? wtf Jchul
  <link rel="stylesheet" type="text/css" href="//assets.kaidee.com/blackpearl/ff8cf73f8638040cc0f30e2cf8980588/stylesheets/style.css" />
  <link rel="stylesheet" href="https://js.appboycdn.com/web-sdk/1.6/appboy.min.css" />
-->
      <style>
          * {
                margin: 0;
            }
            html, body {
                height: 100%;
            }

             .wrapper {
                min-height: 100%;
                height: auto !important;
                height: 100%;
                margin: 0 auto -55px; /* the bottom margin is the negative value of the footer's height */
            }
            .footerr{
                height: 55px; /* .push must be the same height as .footer */
                background: #efefef;
                text-indent: 20px;
                vertical-align: middle;
            }
            .push{
                height: 80px; /* .push must be the same height as .footer */
            }


    </style>

</head>

<body>
<div class="wrapper">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <button id="btnsell-toggle" type="button" class="navbar-toggle btn btn-warning btnsell-toggle">ขาย</button>
      <a href="./"><img class="navbar-brand" src="img/Kaidee-logo-300.png" alt="Kaidee icon"></a>

      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="./verification">แก้ไขข้อมูลผู้ขาย</a></li>
          <li><button id="btnsell" type="button" class="btn btn-warning">ขาย</button></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="verify-title">
      <img src="img/r2.png">
      &nbsp;&nbsp;&nbsp;&nbsp;เพิ่มข้อมูลยืนยันตัวตนระดับ 2 : บัตรประชาชน
    </div>
    <div class="verify-sub-container">
      <div class="verify-subtitle">
        ** ข้อมูลที่อัพโหลดเพื่อใช้ในการยืนยันตัวตน จะถูกใช้เพื่อประโยชน์ในการยืนยันตัวตนสไหรับเว็บไซด์ kaidee.com เท่านั้น <br>
        &nbsp;&nbsp;&nbsp;&nbsp; และจะไม่ถูกใช้ไปในทางอื่น
      </div>
      <div class="verify-subtitle">
        ** ทางเว็บไซด์ kaidee.com จะเก็บรูปภาพที่ถูกใส่ลายน้ำแล้วเท่านั้น เพื่อป้องกันการนำไปใช้กระทำการอื่นๆ ที่นอกเหนือจาก <br>
        &nbsp;&nbsp;&nbsp;&nbsp; ที่ได้กล่าวไว้ข้างต้น
      </div>
      <div class="verify-subtitle">
        กรุณาถ่ายรูปหลักฐานการยืนยันและกระดาษที่เขียนรหัสOTPด้านล่าง
      </div>
    </div>
    <div class="upload-container">
      <div class="col-md-12" style="border-radius: 10px;">
        <div id="OTPCode" style="font-size:25px;">
          OTP = zzzz
        </div>
      </div>
      <div class="col-md-4" style="border-radius: 10px; background: #eeeeee; width: 550px; height: 350px;">
        <img id="file" src="img/choosePic.png" style="position: absolute; margin: auto; top: 25px; left: 0; right: 0; border-radius: 10px; background-color:white; height:250px;">
        </img>
        <div style="display:inline-block; border-radius: 10px; padding-left: 15px; padding-right:15px; background-color:#6DDA58  ; color:white; font-size:25px; height:50px; line-height:50px;position:absolute; bottom:10px; left:225px; ">
          อัพโหลด
        </div>
      </div>
      <div class="col-md-4" style="border-radius: 10px; margin-left:50px; background: #eeeeee; width: 450px; height: 350px; ">
        <div class="verify-example-text">
          ภาพตัวอย่าง
          <div>
        <img src="img/lv2.png" style=" border-radius: 10px; margin-top:20px; background-color:white; height:240px;">
      </img>
      </div>
    </div>
  </div>
</div>
</div>
    </div>

    <form id="upupForm" action="./upload?vlevel=2" method="post" enctype="multipart/form-data" hidden>
       <!-- <input id="fileInput" name="file" type="file"  style="display:none;"> /> -->
          <input id="fileInput" name="file" type="file"/>
        <input id="theButton" type="submit" name="u_button" value="Upload" />
    </form>

 <div class="push"></div>
        <div class="footerr">
            <a href="./help"><h3 id='openfaq' style="line-height:50px; height:50px;">FAQ</h3></a>
        </div>
 <script>
        $('#btnsell').click(function(){
                window.location.href = "./upload_sale_1";

        });

        window.onload = function () {
          var OTP = Math.floor(Math.random() * 8999) + 1000;
          document.getElementById('file').onclick = function() {
            document.getElementById('fileInput').click();
          };
          document.getElementById('upload').onclick = function() {
            document.getElementById('theButton').click();
          };
          document.getElementById('OTPCode').innerHTML = "OTP: "+OTP
          var frm = document.getElementById('upupForm') || null;
          if(frm) {
            frm.action = './upload?vlevel=2&OTP='+OTP;
          }
        }


        function readURL(input) {

          if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
              $('#file').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
          }
        }

        $("#fileInput").change(function(){
          readURL(this);
        });

    </script>

    <!-- CHAT UI -->
    <div class="container">
        <div class="row chat-window col-xs-10 col-md-3" id="chat_window_1">
            <div class="col-xs-12 col-md-12">
              <div class="panel panel-default">
                    <div class="panel-heading top-bar">
                        <div class="col-md-2 col-xs-2">
                            <img class="chat-icon" src="img/Chat_topic.png"></img>
                        </div>
                         <div class="col-md-4 col-xs-4">
                            <h3 class="panel-title"> Chat</h3>
                        </div>
                        <div class="col-md-2 col-xs-2">
                          <span id="notification" class="badge">0</span>
                        </div>
                        <div class="col-md-4 col-xs-4" style="text-align: right;">
                          <a href="#"><span id="to_contact" class="glyphicon glyphicon-list icon_chat_tolist"></span></a>
                        </div>
                    </div>
                    <div id="contactpage">
                      <div class="panel-body contact_list_base">
                        <div id="itemList">
                        </div>
                    </div>
                  </div>
                    <div id="chatpage" style="display: none;">
                      <div class="panel-body">
                        <div class="col-md-6 col-xs-6 info_content">
                          <img id="productImg" class="itempic_info" src=""></img>
                          <span id="productName"></span>
                        </div>
                        <div class="col-md-6 col-xs-6 info_content">
                          <img id="targetImg" class="itempic_info" src=""></img>
                          <span id="targetName"></span>
                        </div>
                      </div>
                      <div id ="chat-textbox" class="panel-body msg_container_base">
                      </div>
                      <div class="panel-footer">
                          <div class="input-group">
                              <input id="btn-input" type="text" class="form-control input-sm inputbar" placeholder="Write your message here..." />
                              <span class="input-group-btn">
                              <button class="btn btn-sm chatbtn" id="btn-chat">Send</button>
                              </span>
                          </div>
                      </div>
                  </div>
            </div>
            </div>
        </div>

    <link rel="stylesheet" href="css/chat.css">
    <script src="js/chat.js"></script>

</body>
</html>
