body {
	background-color: #f9f9f9;
	padding-top: 70px; 
}

* {
  border-radius: 0 !important;
}

.nav ul{margin:0;}

.navbar-default .navbar-nav > li > a {
	color: #4d6ac8; /*Change active text color here*/
}

.navbar .brand, .navbar .nav > li > a:hover {
    color: #4058a6;
}

.btnsell-toggle {
	padding: 5px;
	height: 35px;
	width: 60px;
}

.btnsell-toggle:hover {
	background-position: 0px;
}

.panel > .panel-heading {
    background-image: none;
    background-color: #eeeeee;

}

.nav h6 {
	padding: 8px 9px;
}

.nav button {
	right: 20px;
	width: 60px;
	transform: translateY(25%);
}

.navchat {
	padding: 8px 0px;
}

.productName {
	color: #4d6ac8;
}

.productLocation {
	color: #b3b3b3;
	font-size: 10px;
}

.productImage {
    display:block;
    margin:auto;
    height: 150px;
    width: 150px;
}

.ratingImg{
	float: left;
	width: auto;
    height: 20px;
}

.productPrice {
	color: #4d6ac8;
	float:right
}