body {
	background-color: #f9f9f9;
	padding-top: 80px; 
}

* {
  border-radius: 0 !important;
}

.nav ul{
	margin:0;
}

.navbar-default .navbar-nav > li > a {
	color: #4d6ac8; /*Change active text color here*/
}

.navbar .brand, .navbar .nav > li > a:hover {
    color: #4058a6;
}

.btnsell-toggle {
	padding: 5px;
	height: 35px;
	width: 60px;
}

.btnsell-toggle:hover {
	background-position: 0px;
}

.panel > .panel-heading {
    background-image: none;
    background-color: #eeeeee;

}

.nav h6 {
	padding: 8px 9px;
}

.nav button {
	right: 20px;
	width: 60px;
	transform: translateY(25%);
}

.tutorial {
	display:block;
    margin-bottom : 10px;
}

.navchat {
	padding: 8px 0px;
}

.productName {
	color: #4d6ac8;
}

.productLocation {
	color: #b3b3b3;
	font-size: 10px;
}

.productImage {
    display:block;
    margin:auto;
    height: 150px;
    width: auto;
}

.ratingImg{
	margin-top :20px;
	float: left;
	width: auto;
    height: 20px;
}

.productPrice {
	margin-top :20px;
	color: #4d6ac8;
	float:right
}

.productPanel {
	width: 220px;
	max-width:220px;
	height: auto;
}

.my-popover-content {
    display:none;
}


.home-sell-button{width:140px;height:140px;background-image:url(//assets.kaidee.com/blackpearl/ff8cf73f8638040cc0f30e2cf8980588/images/sell-button.png);background-repeat:no-repeat}

.home-buy-button{width:110px;height:110px;background-image:url(//assets.kaidee.com/blackpearl/ff8cf73f8638040cc0f30e2cf8980588/images/buy-button.png);background-repeat:no-repeat;margin-top:15px;margin-bottom:27px}

#circle {
      width: 50px;
      height: 50px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: red;
    }


.circle-multiline {
    display: table-cell;
    height: 200px;
    width: 200px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50% !important;
    background: orange;
    color: white;
}